<p>playlists-view works!</p>
<!-- .grid.grid-cols-2 -->

<div class="grid grid-cols-2">
  <div>
    <app-playlist-list />
  </div>

  <div>
    <!-- Error: NG0201: No provider for _TemplateRef found. Find more at https://angular.dev/errors/NG0201 -->
    <!-- <app-playlist-details [ngIf]="mode === 'details'" /> -->
    <!-- <app-playlist-editor [hidden]="mode !== 'editor'" /> -->

    <!-- <ng-template [ngIf]="mode === 'details'" [ngIfThen]="detailsRef" [ngIfElse]="editorRef"/> -->

    <!-- <ng-tempalte ngIf -->
    <!-- <app-playlist-details *ngIf="mode === 'details' then detailsRef else editorRef" /> -->

    
    <ng-container [ngSwitch]="mode">
      <app-playlist-details *ngSwitchDefault />
      <app-playlist-editor *ngSwitchCase="'editor'" />
    </ng-container>

    <div class="flex justify-between mt-5">
      <button mat-flat-button color="primary" (click)="showEditor()">
        Edit
      </button>
      <button mat-flat-button color="warn" (click)="showDetails()">
        Cancel
      </button>
    </div>
  </div>
</div>



<ng-template #detailsRef>
  <app-playlist-details />
</ng-template>


<ng-template #editorRef>
  <app-playlist-editor />
</ng-template>
