<p>playlists-view works!</p>
<!-- .grid.grid-cols-2 -->

<div class="grid grid-cols-2">
  <div>
    <app-playlist-list />
  </div>

  <div>
    <app-playlist-details [hidden]="mode !== 'details'" />
    <app-playlist-editor [hidden]="mode !== 'editor'" />

    <div class="flex justify-between mt-5">
      <button mat-flat-button color="primary" (click)="showEditor()">
        Edit
      </button>
      <button mat-flat-button color="warn" (click)="showDetails()">
        Cancel
      </button>
    </div>
  </div>
</div>
