<mat-nav-list>
  <mat-list-item
    [activated]="true"
    *ngFor="let playlist of playlists; index as i; trackBy: byId"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </mat-list-item>
</mat-nav-list>

<!-- <mat-list-item *ngFor="let playlist = $implicit; of playlists;  index as i"> -->

<!-- <ng-template
    ngFor
    [ngForOf]="playlists"
    let-playlist="$implicit"
    let-i="index"
>
    <mat-list-item> {{ i + 1 }}. {{ playlist.name }} </mat-list-item>
</ng-template> -->

<!-- [ngFor][ngForOf] -->

<!-- <div ngFor="" ngForOf=""></div> -->

<!-- for let a = implicit
for let b = implicit {
    a, b
}
-->
