<form (submit)="submit()">
  <div class="">
    <mat-form-field class="w-full">
      <mat-label>Search</mat-label>

      <input type="text" matInput [(ngModel)]="query" name="query" />

      <mat-hint></mat-hint>
      <mat-error></mat-error>
    </mat-form-field>

    <div class="relative h-0 w-full flex justify-end z-50">
      <button
        type="submit"
        class="absolute bottom-12 right-5"
        mat-fab
        color="primary"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</form>
