<form (submit)="submit()" [formGroup]="searchForm">
  <div class="">
    <mat-form-field class="w-full">
      <mat-label>Search</mat-label>

      <input type="text" matInput formControlName="query" />

      <mat-error>
        @if (searchForm.get("query"); as field) {
          @if (field.getError("required")) {
            Field required
          }
          @if (field.getError("minlength"); as error) {
            Minumum length {{ error.requiredLength }}
          }
          @if (field.getError("censor"); as error) {
            Cannot contain {{ error.badword }}
          }
        }
      </mat-error>
      
      <mat-hint></mat-hint>
    </mat-form-field>

    <div class="relative h-0 w-full flex justify-end z-50">
      <button
        type="submit"
        class="absolute bottom-12 right-5"
        mat-fab
        color="primary"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <div class="text-end" (click)="isAdvanced = !isAdvanced">Advanced</div>
    @if (isAdvanced) {
      <div class="grid grid-cols-2 gap-5" formGroupName="advanced">
        <div>
          <mat-form-field class="w-full">
            <mat-label>Search</mat-label>
            <mat-select formControlName="type">
              <mat-option value="album">Album</mat-option>
              <mat-option value="artist">Artist</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <div class="grid" formArrayName="markets">
            @for (item of markets.controls; track $index) {
              <mat-form-field class="w-full" [formGroup]="item">
                <input type="text" matInput="" formControlName="code" />
              </mat-form-field>
            }
            <button type="button" mat-button="" (click)="addMarket()">
              Add market
            </button>
          </div>
        </div>
      </div>
      <pre>{{ searchForm.value | json }}</pre>
    }
  </div>
</form>
