<p>playlist-editor works!</p>

<pre>{{ playlist | json }}</pre>

<!-- .grid.gap-5>.grid.gap-2*3>label{Name}+input -->
<div class="grid gap-5">
    
    <div class="grid gap-2">
      <label for="">Name</label>
      <input type="text" [value]="playlist.name" #inputRef />
      <span class="text-right">{{ inputRef.value.length }} / 100</span>
  </div>

  <div class="grid gap-2">
    <label for="">
      <input type="checkbox" [checked]="playlist.public" (click)="(0)" />Public
    </label>
  </div>

  <div class="grid gap-2">
    <label for="">Description</label>
    <textarea [value]="playlist.description"></textarea>
  </div>
</div>
