<p>playlist-editor works!</p>

<pre>{{ playlist | json }}</pre>

<!-- .grid.gap-5>.grid.gap-2*3>label{Name}+input -->
<div class="grid gap-5">
  <div class="grid gap-2">

    <mat-form-field>
      <mat-label>Name</mat-label>

      <input type="text" #modelRef="ngModel" [(ngModel)]="playlist.name" matInput required minlength="3" />

      <mat-error *ngIf="modelRef.getError('required')">Field required</mat-error>
      <mat-error *ngIf="modelRef.getError('minlength')">
        Minumum length {{modelRef.getError('minlength').requiredLength }} 
      </mat-error>

      <mat-hint>{{ modelRef.value?.length }} / 100</mat-hint>
    </mat-form-field>    
    
    <pre>{{modelRef.errors | json }}</pre>
  </div>

  <div class="grid gap-2">
    <label for="">
      <input
        type="checkbox"
        [ngModel]="playlist.public"
        (ngModelChange)="(0)"
      />Public
    </label>
  </div>

  <div class="grid gap-2">
    <label for="">Description</label>
    <textarea [value]="playlist.description"></textarea>
  </div>
</div>
