<form *ngIf="playlist" (ngSubmit)="submit()" #formRef="ngForm">
  

  <pre>{{ playlist | json }}</pre>
  <pre>{{ formRef.value| json }}</pre>

  <!-- .grid.gap-5>.grid.gap-2*3>label{Name}+input -->
  <div class="grid gap-5">
    <div class="grid gap-2">
      <mat-form-field>
        <mat-label>Name</mat-label>

        <input
          id="playlist_name"
          type="text"
          #inputRef
          #modelRef="ngModel"
          [ngModel]="playlist.name"
          name="name"
          matInput
          required
          minlength="3"
          appCensor
        />
        <!-- {{modelRef.value}} -->
        <mat-error *ngIf="modelRef.getError('required')"
          >Field required</mat-error
        >
        <mat-error *ngIf="modelRef.getError('minlength') as error">
          Minumum length {{ error.requiredLength }}
        </mat-error>
        <mat-error *ngIf="modelRef.getError('censor') as error">
          Cannot contain {{ error.badword }}
        </mat-error>

        <mat-hint>{{ modelRef.value?.length }} / 100</mat-hint>
      </mat-form-field>

      <pre>{{ modelRef.errors | json }}</pre>
    </div>

    <div class="grid gap-2">
      <label for="">
        <input
          type="checkbox"
          [(ngModel)]="playlist.public"
          name="public"
        />Public
      </label>
    </div>

    <div class="grid gap-2">
      <label for="">Description</label>
      <textarea
        [(ngModel)]="playlist.description"
        name="description"
      ></textarea>
    </div>
    <!-- <div class="grid gap-2">
      <label for="">Description</label>
      <div contenteditable="true" [(ngModel)]="playlist.description" 
      name="description"></div>
    </div> -->

    <div>
      <button mat-flat-button color="warn" (click)="close()">Cancel</button>

      <button mat-flat-button color="warn" type="submit">Save</button>
    </div>
  </div>
</form>
