<app-main-layout>
  <ng-container ngProjectAs="sidebar">
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="mdc-list-item--activated"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        mat-list-item
        routerLinkActive="mdc-list-item--activated"
        routerLink="/playlists"
        >Playlists</a
      >
      <a
        mat-list-item
        routerLinkActive="mdc-list-item--activated"
        routerLink="/music"
        >Search</a
      >
    </mat-nav-list>
  </ng-container>

  <ng-container ngProjectAs="toolbar">
    <app-clock />
    <button mat-flat-button (click)="login()">Login</button>
  </ng-container>

  <div class="container">
    <router-outlet />
  </div>
</app-main-layout>

<ng-template #placki></ng-template>
