 
<div
  class="grid gap-5"
  [title]="playlist.name"
  id="playlist_{{ playlist.id }}"
  [attr.data-playlist-id]="playlist.id"
>
  <div class="grid gap-2">
    <div>Name</div>
    <div>{{ playlist.name }}</div>
  </div>

  <div class="grid gap-2">
    <div>Public</div> 

    <!-- <div [ngStyle]="{ color: playlist.public ? 'red' : 'green' }"></div> -->
    <!-- <div [ngClass]="{ isPublic: playlist.public,  isPrivate: !playlist.public }"></div> -->
 
    <div
      [class.isPublic]="playlist.public"
      [class.isPrivate]="!playlist.public"
    >
      {{ playlist.public ? "Yes" : "No" }}
    </div>
  </div>

  <div class="grid gap-2">
    <div>Description</div>
    <div>{{ playlist.description }}</div>
  </div>
</div>

<!-- {{ if else swich for function { } }} -->
