<p>playlist-details works!</p>

<!-- .grid.gap-5>.grid.gap-2*3>div{Name}+div{Playlist} -->

<div
  class="grid gap-5"
  [title]="playlist.name"
  id="playlist_{{ playlist.id }}"
  [attr.data-playlist-id]="playlist.id"
>
  <div class="grid gap-2">
    <div>Name</div>
    <div>{{ playlist.name }}</div>
  </div>

  <div class="grid gap-2">
    <div>Public</div>
    <!-- <div
      [style.border-bottom]="'1px solid '"
      [style.color]="playlist.public ? 'red' : 'green'"
    > -->
    <div
      [class.isPublic]=" playlist.public "
      [class.isPrivate]=" !playlist.public  "
    >
      {{ playlist.public ? "Yes" : "No" }}
    </div>
  </div>

  <div class="grid gap-2">
    <div>Description</div>
    <div>{{ playlist.description }}</div>
  </div>
</div>

<!-- {{ if else swich for function { } }} -->
